.start{
  background:none;
  background-color: black;
  height: initial;

}
.start section {
    width:100%;
}
.red_box {
  background-color: rgb(255, 82, 83);
  text-align: center;
  color:white;
  
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;

}
.red_box .container span {
    border-bottom: 1px solid;
    padding: 0.5em;
}
.red_box .container p {
    padding-top: 1em;
}
.login{
    padding: 2em 0 2em 0 ;
    background-color:rgba(128, 128, 128, 0.12);
}
.login_bg{
    position: relative;
}
.login_bg .comment {
    position: absolute;
    color: white;
    top:100px;
    right:100px;
    direction: rtl;
}
.login_form {
   background-color: white;
   padding: 0;
   color: white;
   direction: rtl;
}
.login_form form {
    padding-top: 3em;
}
.login_form input {
    background-color: rgb(168, 231, 148) ;
    border-color:  rgb(168, 231, 148) ;

}


.green{
 background-color: rgb(105, 195, 90);
 padding-right: 1em;
 padding-top:2em;
}
.about {
    background-color: rgba(128, 128, 128, 0.12);
}