html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  overflow: auto;
  height: 100%;
}
.padding_right_2{
    padding-right: 2em; 
}
.padding_right_4{
    padding-right: 4em; 
}
h1 {
    padding: 0;
    margin: 0;
}
 .label .material-icons,.shop,.nav a,header h1,header p {
   
    color: white;
}
a {
     text-decoration: none;
}
.start {
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.user {
    padding-top:0.8em;
    width:100%;
}
.user a {
    color:white;
}
.user .register a  {
    color: green;
}

.start section {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.navbar{
    padding:1.5em 0 1.5em 0 ;
    width: 100%;
    display: flex;
}
.navbar .label {
   width:15%;
} 
.nav {
    width: 70%;
    text-align: center;
}
.shop {
    width:15%
}
 a:hover {
    color:green;

}
.nav_open{
    display: none;
}
.brand{
    width:15%;
    text-align: right;
}
.brand img {
    width:70px;
    height: 20px;
}

.search{
    padding-top :10%;
}
.summary {
    width:35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    color:white;
}
.search divvvvvvv {
    background-color: white ;
    width: 58%;
    padding: 0.5rem;
}
.search  button {
    padding: 0.5em 2em 0.5em 2em ;
    background-color: red;
    color:white;
}
.search input {
    padding: 5px 0px 6px 0;
    width: 78%;
}
.ch_special{
   background-color: Gainsboro ;
   
}
.ch_special .content {
    width: 65%;
    padding-left: 4em;
    padding-top: 2em;
    padding-right: 3em;
}
.ch_special .select{
    display: flex;
}
.ch_special .images_select img {
    border-radius: 100%;
}
.images_select {
    position: relative;
}
.images_select .one {
    width: 100px;
    position: relative;
    z-index: 4;
    top: 0;
    left: 0px;
}
.images_select .two {
    width: 180px;
    position: relative;
    z-index: 1;
    left: 0;
}
.images_select .three {
    width: 70px;
    position: relative;
    z-index: 2;
    left: 0;
}

.images_select .four {
    width: 110px;
    position: relative;
    bottom:0;
    z-index: 0;
    left:0;
}

.products{
    padding:1em 0 1em 0 ;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.product {
    padding-right: 0.4em;
}

.buy{
    background-color: green ;
    display: none ;
}
.product:hover  .buy {
    display: block ;
}
.fancy_new_bg {
   background-color: Gainsboro ; 
}
.fancy_new {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.favorite{
    display: flex;
}
.fancy_favorite {
    padding: 3em 0 3em 0 ;
    display: flex ;
    width: 90%;
    margin-left: auto ;
    margin-right: auto ;
    padding-left :2em;
    padding-right: 2em;
}
.img img {
    height: 180px;
    
}
.favorite_pics{
    padding: 3em 0 3em 0;
    
}
.favorite_pics img {
  height: 180px;
}
.brands {
    background-color: red;
}
.brands section {
    margin-left: auto;
    margin-right: auto;
    width: 58%;
}

.brands img {
    width:100px;
}
.about{
    display: flex;
}
.about_fancy {
    width:30%;
}
.useful_links{
    width:30% ;
}

.useful_links section {
    display: flex;
}
.trust_mark {
    width:30%;
}
.trust_mark img {
    width:100px;
}
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }