@media only screen and (max-width:400px){
     .col-xs-6 {
     padding-right:0;
     padding-left:0;
}
}
@media only screen and (max-width:500px){

.ch_special .select {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;

}
.ch_special .select .img-fancy-random {
  margin: auto;
}
.ch_special .select .img-fancy-random img {
  margin: auto;
  width: 70%;
}
  .summary{
    padding-top: 40%;
  }
  .summary p {
    padding: 0 1em;
    font-size: larger;
  }
  .search{
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width:100%;
  }
  .search button{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
 .search input {
    width: 90%;
    margin: auto;
 }
 .col-xxs-12{
   width:98%;
   text-align: center;
 }
 .about li {
   text-align: right;
 }
 .about_fancy {
   text-align: right;
 }
}

@media only screen and (max-width:600px){
  .ch_special .images_select {
    display: none;
  } 
  .ch_special .content {
    width: 100%;
  }


}
@media only screen and (max-width:1000px) {
  .start section {
    width:100%;
  }
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(17, 17, 17, 0.67);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
.nav a {
  display: block ;
  padding: 0 0 1em 0;
}
.navbar .label {
  width:80%;
}
.user{
  width:50%;
  text-align: right;
}
.nav_open{
    display: block;
    width:50%;
}
.user_layer{
  padding-right: 1em;
}
.shop{
  width:50%;
}
.brand{
  width:50%;
}
.brand img {
  padding-right: 0.5em;
}
.ch_special .images_select {
  width:50%;
}
.fancy_new_cat{
  display: none;
}

  .width_80,.width_85{
    width: 98%;
  }
  .ch_special .content {
    padding: 1em;
  }

}

@media only screen and (max-width:1300px) {

}