@media only screen and (max-width:950px){

}

@media only screen and (max-width:700px){
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    

}
.nav_open{
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
}